---
layout: base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="wrap section">
  <h1>Page not found</h1>
  <p>That page doesn't exist. <a href="/">Go to the home page</a>.</p>
</section>
